@media (max-width: 1199px)
  .container
    width: 970px

@media (max-width: 992px)
  .container 
    width: 767px  
    &-text
      
  .main
    &-text  
      &__title
        font-size: 30px
        line-height: 36px
  .feedback 
    background: #ffffff     
   
@media (max-width: 767px)
  .container
    width: 95%
  .main
    &-wrap 
      flex-direction: column
    &-text 
      max-width: 400px
      margin: auto
      &-title 
        text-align: center
  .form__item__phone
      text-align: center
  .form__item__text-1
    margin-right: 60px

@media (max-width: 575px)
  .container
    width: 95%
  .header-wrap
    display: flex
    flex-direction: column
    /*justify-content: space-between*/
    align-items: center
    /*padding: 8px 0*/
  .header-logo
    margin-bottom: 20px
  .header-text__contacts
     margin: 20px 0
     text-align: center
  .header-text__button
     margin: 10px 0
  .main
    &-text
      max-width: 300px;
      margin: auto;  
  .form__item
    flex-direction: column
  .form__item__phone
      text-align: center
  .form__item__text-1 
    text-align: center
    margin: 20px 0 
    max-width: 100%
  .form__item__img
    margin: 10px 0 
  /*  border-radius: 50%*/
  /*  border: 2px solid $item-phone*/
  /*  background-image: url('../img/phone-receiver.png')   */ 
  /*  background-repeat: no-repeat*/
  /*  background-position: center*/
  /* background-color: #ffffff*/
  /*  background-size: 20px */
  /*.header-text__button-2 */
  /*  display: none*/