.modal
  position: fixed
  width: 100% // от тэга body
  height: 100% // from tag body
  background-color: rgba(#000, 0.52)
  left: 0
  top: 0
  z-index: 99
  display: none  //  this for being modal non visible  по умолчанию
  &_visible
    display: flex
  &__dialog
    max-width: 1171px
    height: 700px
    background-color: #ffffff
    margin: auto //  расположит окошко dialog ровно в центре modal
    display: flex
    justify-content: center
    align-items: center
    position: relative
  &__close
    position: absolute // прикрепляет этот  элемент к родителю, у кот свойство relative
    top: 15px
    right: 15px
    &:hover
      cursor: pointer
.modal-wrap
  display: flex  
  //justify-content: space-between
  //align-items: left
.modal-offer
  width: 650px 
  display: flex 
  flex-direction: column  
  color: #000000
  padding-top: 50px
  background-color: #f7f7f7
  margin-right: 20px
  margin-left: 90px
  padding-left: 80px
  padding-right: 20px 
  //background-color: #f7f7f7
  //justify-content: space-around
  //align-items: left
.modal-form
  padding: 0 100px
   
.modal-offer-wrap
  display: flex 
  flex-direction: column 
.modal-offer-item
  display: flex
  //justify-content: space-between
  //align-items: center
.modal-offer-item__img
  width: 123px
  margin-right: 29px
  margin-bottom: 20px
  flex-direction: column   
.modal-offer-item__text
  display: flex
  flex-direction: column

.modal-offer-item__title
  font-family: 'Museo Sans Bold' , sans-serif
  font-size: 16px
.modal-offer-item__title:after 
  content: ""
  display: block
  width: 45px
  height: 3px
  background-color: #ffd200
  margin-top: 12px
  margin-bottom: 12px


.modal-offer-item__text__line 
  font-family: 'Museo Sans Light' , sans-serif
  font-size: 16px
  margin: 0

.modal-offer-text__title
  font-family: 'Museo Sans Bold' , sans-serif
  font-size: 14px
  margin-bottom: 10px 

.modal-offer__list
  list-style-type: disc
  margin: 0
  padding-left: 15px


.modal-offer__list-disc 
  font-family: 'Museo Sans Light' , sans-serif
  color: #ffd200
  font-size: 22px

.modal-offer__list-p
  color: #000000
  font-size: 13px
  line-height: 20px
  margin: 0
  padding: 0
 